<ion-view view-title="Issue Map" ng-controller="MapController">
<ion-nav-buttons side="secondary">
<button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button"><i class="icon ion-power"></i></button>
</ion-nav-buttons>
<ion-content scroll='false'>

<div id="map">
    <leaflet defaults="mapDefaults" center="mapConfig.center" markers="mapConfig.markers" event-broadcast="events" data-tap-disabled="true" height='100%'>
    </leaflet>
</div>
<div id="bouton">
  <div ng-hide="custom"   ng-click="addIssue()" class="buttonMap">
    <button id="b1map"  class="button button-full button-calm">
     <i class="fa fa-map-marker"> </i>  Add an issue  <i class="fa fa-map-marker"> </i>
    </button>
  </div>
  <div ng-hide="declenche"  class="buttonMap">
    <button id="b2map" class="button button-full button-calm">
      Click on map to create an new issue
    </button>
  </div>
  <div  ng-hide="validate" ng-click="goNew()" class="buttonMap">
    <button id="b3map" class="button button-full button-assertive">
      Validate
    </button>
  </div>
</div>
  <div ng-click="location()" id="buttonPos">
    <i style="font-size:1.2em;"ng-show="geolocOn" class="fa fa-street-view">
    </i>
    <i ng-hide="geolocOn" class="fa fa-spinner fa-pulse">
    </i>
  </div>

</ion-content>
</ion-view>