<ion-view view-title="Issue Map" ng-controller="MapController">
<ion-nav-buttons side="secondary">
<button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button"><i class="icon ion-power"></i></button>
</ion-nav-buttons>
<ion-content scroll='false'>

<div id="map">
    <leaflet defaults="mapDefaults" center="mapConfig.center" markers="mapConfig.markers" event-broadcast="events" data-tap-disabled="true" height='100%'>
    </leaflet>
</div>
<div id="bouton">
  <div ng-hide="custom"   ng-click="addIssue()" class="buttonMap">
    <button id="b1map"  class="button button-full button-positive">
      Add an issue  <i class="ion-plus-circled"> </i>
    </button>
  </div>
  <div ng-hide="declenche"  classe="buttonMap">
    <button id="b2map" class="button button-full button-positive">
      Click on map to create an new issue
    </button>
  </div>
  <div  ng-hide="validate" ng-click="goNew()" classe="buttonMap">
    <button id="b3map" class="button button-full button-positive">
      Validate
    </button>
  </div>
</div>
  <div ng-click="location()" id="buttonPos">
    <button id="locate"  class="ion-navigate">
    </button>
  </div>

</ion-content>
</ion-view>