<ion-view view-title="Issue Details" ng-controller="DetailCtrl">
 <ion-nav-buttons side="primary">
<a class="button icon-left ion-chevron-left button-clear" ng-click="goList()" style="font-size:12px">Back</a>
  </ion-nav-buttons>
 <ion-nav-buttons side="secondary">
    <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button"><i class="icon ion-power"></i></button>
  </ion-nav-buttons>
          <ion-content>
            <div class="list card">
                <div class="item">
                    <h2>{{issue.issueType.name}}</h2>
                    <p class="state">{{issue.state}}</p>
                </div>
                <div class="item item-body">

                    <img class="small-image" src="{{issue.imageUrl}}">
                  <p class="titledescr">Description of the issue :</p>  
                  <p class="descr">{{issue.description}}</p>
                  <p>
                    <a href="" class="subdued">
                    <i id="author" class="icon ion-person iconsize"></i>  {{issue.owner.name}}</a>
                  </p>
                  <p>
                    <a href="" ng-class="{colorred: !custom}" class="subdued" ng-click="toggleCustom()">
                      <i class="icon ion-chatbox"></i> {{issue.comments.length}} comments</a>
                    <a href="" class="subdued" ng-click="goToIssueMap()">
                    <i class="icon ion-android-globe iconsize"></i> See on map</a>
                  </p>
                </div>
            </div>
            <div ng-hide="custom">
                <div class="card item topcolor comment"> <textarea ng-model="commentAdd.text" placeholder="Write here"></textarea>
                  <button class="send button button-block button-outline button-positive" ng-hide="!commentAdd.text"  ng-click='postComment()'>Send</button>
                </div>
            <div class="card item topcolor comment" ng-repeat="comment in issue.comments | orderBy: '-postedOn'"  class="item-thumbnail-left" >
                 <p class="text">"{{comment.text}}"</p>
                 <p class="descr">Written by : {{comment.author.name}}</p>
                 
                 <p class="date">{{comment.postedOn | date:'medium'}}</p>
            </div>
            </div>
        </ion-content>
</ion-view>

