<ion-view view-title="Issue-List" ng-controller="ListCtrl" >

  <ion-nav-buttons side="primary">

  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">

    <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button">Log out</button>

  </ion-nav-buttons>

  <ion-content>

  <div>

    <button ng-click="toggleCustom()">Filtre</button>
     
  <select ng-hide="custom" ng-model="filter.type">    
        <option  ng-repeat="type in issueTypes" value="{{type.id}}">{{type.name}}</option>
    </select>
       
  </div>
<ion-list>

  <ion-item ng-click="goToIssueDetails(issue)" ng-repeat="issue in issues" ng-show="issue.issueType.id == filter.type || custom == true"   class="item-thumbnail-left">

  <img ng-src="{{issue.imageUrl}}">

    
     <h3>{{issue.description}}</h3>

    <p> {{issue.state}}</p>
  </ion-item>

</ion-list>

  </ion-content>
</ion-view>

