<ion-tabs ng-controller="NavCtrl"class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="New Issue" icon-off="ion-plus-round" icon-on="ion-plus-round" href="#/tab/newIssue">
    <ion-nav-view name="tab-newIssue"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Issue Map" icon-off="ion-map" icon-on="ion-map" ng-click="goMap();">
    <ion-nav-view name="tab-issueMap"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Issue List" icon-off="ion-navicon-round" icon-on="ion-navicon-round" ng-click="goList();">
    <ion-nav-view name="tab-issueList"></ion-nav-view>
  </ion-tab>
</ion-tabs>