/* Empty. Add your own CSS if you like .*/

.item{
	  border-top-color: #3281ed;
	  border-top-width: 3px;
}
.scroll{
	background-color: #f5f8fb
}

a.colorred  {
		
	color:#3281ed;	
	font-size: 1.2em;
}

.send{
	float: right;
	
}

.iconsize{
	font-size: 1.2em;

}


.card.comment {
	  border-top-color: #418FFA;
	  border-top-width: 3px;
	  padding-top: 1.1em;
	  padding-bottom: 1.1em;


.comment {
	border-top-color: #3281ed;
	border-top-width: 3px;

}

.tab-nav {

	background-color: #D8D8D8;
/*	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
	left:0;*/

}