/* Empty. Add your own CSS if you like .*/

.item{
	  border-top-color: #337cf5;
	  border-top-width: 3px;
}
.scroll{
	background-color: #f5f8fb
}


.comment {
		  border-top-color: #62f278;
	  border-top-width: 3px;
}


