/* Empty. Add your own CSS if you like .*/

.item{
	  border-top-color: #337cf5;
	  border-top-width: 3px;
}
.scroll{
	background-color: #f5f8fb
}

a.colorred  {
		
		color:#62f278;
		
		font-size: 1.2em;
}



.comment {
		  border-top-color: #65f247;
	  border-top-width: 3px;
}


